:root {
    /* 全局样式 */
      font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
    
      height: 100%;
    
      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
    }
    body{
        margin: 0;
        height: 100%;
        background-color: #001739;
    }
    
    #app {
      /* max-width: 1280px; */
      min-width: 120px;
      margin: 0;
      text-align: center;
    }
    